body {
  height: 100%;

}

.containerText {
  max-width: 900px;
  margin : 36px auto;
  height: 100%;
}

.divis {
  margin: 45px auto;
  width: 40%;
}

.aDaDivisa {
  width: 100%;
}

.containerText a {
  text-decoration: none;
}

.titleForm {
  width: 90%;
  margin: 20px;
}

.titleH1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
