.myCarousel {
  width: 750px;
  height: 10%;
  margin: 50px  auto;
}

.container_img {
  width: 25%;
}

.cursos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

h2 {
  margin-top: 25px;
  color: black;
}

.imgg {
  width: 100%;
  height: 100%;
}

.textGradu {
  color: #c34454;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}


.footerContainer {
  height: 155px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 141, 247);
}
.icones {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.myContainer {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.card_img {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}


.cardText {
  margin-top: 45px;
}
