.imgLogo {
  width: 150px;
  margin: 18px ;
}

.titleProject {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

.footerContainer {
  height: 155px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 141, 247);
}
